$white: white;
$cell-width: 50px;
$cell-height: 40px;
$base-fontsize: 16px;

$radius: 5px;

$bg-result: #2F3849;
$bg-operations: #454D5C;
$bg-numbers: #656C78;
$bg-arithmetics: #EFA03B;
$bg-hover: #4E4E4F;

$separate: #374151